.header__lang-link {
  color: inherit;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
