.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-image: url(../../../images/cover.jpg);
  background-size: 100% 100%;
  background-position: center;
  max-width: 100%;
  z-index: 1;
  min-height: calc(100vw*0.625);
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  max-width: 100%;
  z-index: -1;
  transition: opacity 1.42s;
}

.cover__link:hover::after {
  opacity: .8;
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
