.lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  padding-bottom: 64px;
}

@media (min-width: 425px) {
  .lead {
    padding-bottom: 68px;
  }
}

@media (min-width: 768px) {
  .lead {
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .lead {
    padding: 0 48px 92px;
  }
}

@media (min-width: 1280px) {
  .lead {
    padding: 0 148px 92px;
  }
}
