.lead__title {
  margin: 0;
  padding: 0 0 16px;
  width:max-content;
  white-space: pre-line;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
