.lead__title {
  margin: 0;
  padding: 0 0 16px;
  max-width: 288px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}

@media (min-width: 425px) {
  .lead__title {
    font-size: 52px;
    line-height: 57px;
    max-width: 400px;
    padding: 0 0 20px;
  }
}

@media (min-width: 768px) {
  .lead__title {
    padding: 0 0 32px;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
