.intro {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0 16px 64px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 24px 88px;
  }
}

@media (min-width: 1024px) {
  .intro {
    box-sizing: content-box;
    max-width: 690px;
    padding: 0 0 92px 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding: 0 0 92px 148px;
  }
}
