.cover {
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 64px;
}

@media (min-width: 425px) {
  .cover {
    padding: 0 0 70px;
  }
}

@media (min-width: 768px) {
  .cover {
    padding: 0 0 88px;
  }
}

@media (min-width: 1024px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media (min-width: 1280px) {
  .cover {
    padding: 0 48px 92px;
  }
}
