.place {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: grid;
  justify-items: center;
  padding-bottom: 50px;
}

.place:last-of-type {
  padding: 0;
}

@media (min-width: 666px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media (min-width: 1024px) {
  .place {
    gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .place {
    gap: 48px 40px;
  }
}
