.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin: 0;
  padding-bottom: 12px;
  color: #aaa;
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
